@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Life";
}


<h1>Aaron Petersen</h1>

<img src="img/Plane.jpg" />
<br />
<br />
<br />

<p>I hope to be able to code in C# and create web applications using ASP.net</p>

<ul>
    <li>Web Developer</li>
    <li>Stay at home dad</li>
    <li>Tech Consultant</li>
</ul>

<br /><br />



